export GRADLE_OPTS="-Dorg.gradle.console=verbose -Dsonar.gradle.skipCompile=true -Dorg.gradle.jvmargs=\"-Xmx2g -XX:MaxMetaspaceSize=512m\""

[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"
sdk env
