#
# Based on https://www.baeldung.com/linux/run-java-application-as-service
#
[Unit]
Description=Visao Holandesa Java Application Service
After=rsyslog.service

[Service]
User=jvmapps
Group=appmgr

SuccessExitStatus=143
RestartSec=10
Restart=on-failure
Type=simple

Environment="MICRONAUT_ENVIRONMENTS=baremetal"

# MUST be consistent with what is defined in nginx proxy pass
# location for this application.
Environment="VISAOHOLANDESA_PORT=8082"
Environment="VISAOHOLANDESA_PATH=/visaoholandesa"

WorkingDirectory=/opt/javaapps
ExecStart=/usr/bin/java -Xms128m -Xmx256m -jar visaoholandesa-all.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target

